<!doctype html>
<html lang="pt-BR">

<head>
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/owl.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="css/home.css">

  <title>Null Doubt</title>
</head>

<body>
  <!-----------------------------------------------------------------------Nav Bar------------------------------------------------------------------>
  <div class="wrapper">
    <div class="sidebar">

      <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg" class="avatar">
      <h4>Olá, Carlos!</h4>
      <h6>Professor</h6>

      <ul>
        <div id="linha-horizontal"></div>
        <li><a href="home.html"><i class="fas fa-home"></i>Inicio</a></li>
        <div id="linha-horizontal"></div>

        <div class="dropdown">
          <button class="dropbtn">Atendimentos</button>
          <div class="dropdown-content">
            <li><a href="#"><i class="fas fa-calendar"></i>Agendamentos</a></li>
            <li><a href="#"><i class="fas fa-calendar-check"></i>Fazer chamada</a></li>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Monitoria</button>
          <div class="dropdown-content">
            <li><a href="#"><i class="fas fa-address-card"></i>Monitores</a></li>
            <li><a href="cad_monitor.html"><i class="fas fa-clock"></i>Cadastrar Horário</a></li>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Históricos</button>
          <div class="dropdown-content">
            <li><a href="#"><i class="fas fa-file-alt"></i>Histórico Simples</a></li>
            <li><a href="#"><i class="fas fa-chart-bar"></i>Histórico Completo</a></li>
          </div>
        </div>

      </ul>
      <div class="social_media">
        <a href="index.html"><i class="fas fa-sign-in-alt"></i></a>
        <a href="#"><i class="fas fa-cogs"></i></a>
      </div>
    </div>
    <!-----------------------------------------------------------------------Top Page------------------------------------------------------------------>
    <div class="main_content">
      <div class="header">Horários de Atendimentos Semanais</div>
      <div class="info">

        <!-----------------------------------------------------------------------Table------------------------------------------------------------------>
        <div class="content">

          <div class="container">

            <div class="table-responsive">

              <table class="table table-striped custom-table">
                <thead>
                  <tr>
                    <th scope="col">
                      
                    </th>
                    <th scope="col">Status</th>                   
                    
                    <th scope="col">Matéria</th>
                    <th scope="col">Local</th>
                    <th scope="col">Link</th>
                    <th scope="col">Início</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr scope="row">
                    <td>
                      
                    </td>
                    <td class="pl-0">
                      <div class="d-flex align-items-center">
                        <label class="custom-control ios-switch">
                          <input type="checkbox" class="ios-switch-control-input" checked="">
                          <span class="ios-switch-control-indicator"></span>
                        </label>
                    </div>
                    </td>
                    <td>                    
                        <a href="#">Fundamentos</a>                      
                    </td>
                    <td>
                      Laborátorio IV
                      <small class="d-block">Prédio da Computação, Térreo</small>
                    </td>
                    <td><a href="#">Presencial</a></td>
                    <td><time >10:30 / Quarta-feira</time></td>
                    <td><a href="https://presencial.ifgoiano.edu.br" class="more">Alunos</a></td>
                  </tr>

                  <tr scope="row">
                    
                    <td>
                      
                    </td>
                  </td>
                  <td class="pl-0">
                    <div class="d-flex align-items-center">
                      <label class="custom-control ios-switch">
                        <input type="checkbox" class="ios-switch-control-input" checked="">
                        <span class="ios-switch-control-indicator"></span>
                      </label>
                  </div>
                  </td>
                    <td>                    
                      <a href="#">Engenharia de Software</a>                      
                  </td>
                    <td>
                      Reunião Online
                      <small class="d-block">Meet</small>
                    </td>
                    <td><a href="https://meet.google.com">Google Meet</a></td>
                    <td><time >14:30 / Sexta-feira</time></td>
                    <td><a href="https://presencial.ifgoiano.edu.br" class="more">Alunos</a></td>
                  </tr>

                  <tr scope="row">
                    <td>
                      
                    </td>
                  </td>
                  <td class="pl-0">
                    <div class="d-flex align-items-center">
                      <label class="custom-control ios-switch">
                        <input type="checkbox" class="ios-switch-control-input" checked="">
                        <span class="ios-switch-control-indicator"></span>
                      </label>
                  </div>
                  </td>
                    
                    <td>                    
                      <a href="#">Egenharia de Projetos</a>                      
                    </td>
                    <td>
                      Laborátorio V
                      <small class="d-block">Prédio da Computação, Térreo</small>
                    </td>
                    <td><a href="#">Presencial</a></td>
                    <td><time >15:10 / Terça-feira</time></td>
                    <td><a href="https://presencial.ifgoiano.edu.br" class="more">Alunos</a></td>

                  </tr>

                </tbody>
              </table>
            </div>


          </div>

        </div>



        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
      </div>
    </div>
</body>

</html>