<!DOCTYPE html>
<html lang="ptbr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="css/primeira.css">

    <title>NullDoubt</title>
</head>

<body>
    <!--==================== HEADER ====================-->
    <header class="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                NULL-DOUBT
            </a>
        </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== HOME ====================-->
        <section class="home">
            <div class="home__container container">
                <div class="home__data">
                    <span class="home__subtitle">NULL-DOUBT</span>
                    <h1 class="home__title">Seja bem vindo ao NULL-DOUBT</h1>
                    <p class="home__description">
                        Escolha seu perfil <br> para poder marcar/dar monitorias.
                    </p>
                    <b>
                        <select class="home__select">
                            <option>Professor</option>
                            <option>Aluno</option>
                        </select>
                    </b>
                    <a href="login.html" class="home__button">
                        <b>Fazer Login</b>
                    </a>
                </div>

                <div class="home__img">
                    <img src="https://images2.imgbox.com/4f/1a/yRgP0ZwD_o.png" alt="">
                    <div class="home__shadow"></div>
                </div>
            </div>
            <footer class="home__footer">
                Desenvolvido por: Wésio Coelho, João Saraiva e Gustavo Moura
            </footer>
        </section>
    </main>

    <!--=============== SCROLLREVEAL ===============-->
    <script src="assets/js/scrollreveal.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="assets/js/main.js"></script>

   
</body>

</html>